# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Build/.vs/emtp_bpa/v16
/Build/Debug
/.vs
/Build/ConsoleFortran1.f90
/Build/emtp_bpa.u2d
*.PL4
*.bak
/Build/.vs/emtp_bpa_f/v16
*.obj
/Build/x64/Debug
*.htm
*.u2d
/Build/x64/Release
*.user
*.vsidx
*.suo
